body {
  background-color: black;
  color: ivory;
  font-family: serif;
}

.container {
  width: 80%;
  padding: 0 15px;
  margin: 0 auto;
}

h1 {
  color: ivory;
}

header {
  background-color: rgba(0, 0, 0, 0.58);
  position: fixed;
  top: 0;
  height: 4em;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

.header-list li {
  list-style: none;
  float: right;
  padding: 0.5em 1em;
  font-size: 1em;
  display: block;
  transition: all 0.5s;
}

.header-list li:hover {
  background-color: rgba(18, 236, 225, 0.299);
}

.header-logo {
  float: left;
  font-size: 1.5em;
}

.top {
  margin-top: 2em;
  height: 20em;
  width: 100%;
  background-color: rgba(56, 116, 116, 0.562);
  text-align: center;
  font-size: 2em;
}

.Identity-contents {
  margin-bottom: 30em;
}

.Identity-left {
  font-size: 1.1em;
  margin-top: 9.5em;
  height: 20em;
  width: 50%;
  float: left;
  color: darkgrey;
}

.Identity-right {
  margin-top: 10em;
  height: 18em;
  width: 45%;
  float: right;
}

.Identity-right img {
  width: 100%;
  height: 100%;
}

.Work-right {
  margin-top: 5em;
  padding: 5em 0em;
  float: right;
  width: 60%;
}
.Work-right li {
  color: darkgrey;
}
.Work-content {
  margin: 3em;
}

.Work-contents li {
  list-style: none;
  padding: 0.1em 0em;
}

.Work-left img {
  padding-top: 15em;
  height: 40%;
  width: 30%;
}

.Name-picture {
  float: right;
}

/*
.Contact {
  padding: 10em 0em;
}

.Contact-left {
  float: left;
  width: 30%;
}

.Contact-left input {
  width: 100%;
  height: 2.5em;
  background-color: rgba(169, 169, 169, 0.347);
  border: 1px solid #dee7ec;
  border-radius: 1em;
}

.Contact-right {
  float: right;
  margin-left: 5em;
  width: 60%;
}

.Contact-right textarea {
  width: 100%;
  height: 8em;
  background-color: rgba(169, 169, 169, 0.347);
  border: 1px solid #dee7ec;
  border-radius: 1em;
}


.btn-square-above-look {
  display: inline-block;
  position: relative;
  padding: 0.35em 1em;
  background: lightseagreen;
  color: #fff;
  text-decoration: none;
  margin-top: 3em;
  width: 100%;
  text-align: center;
}

.btn-square-above-look:before {
  content: '';
  position: absolute;
  top: -16px;
  left: 0;
  width: -webkit-calc(100% - 16px);
  width: calc(100% - 16px);
  height: 0;
  border: solid 8px transparent;
  border-bottom-color: rgb(87, 214, 208);
}

.btn-square-above-look:active {
  padding: 0.32em 0.9em;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.btn-square-above-look:active:before {
  width: -webkit-calc(100% - 12px);
  width: calc(100% - 12px);
}

.btn-square-above-look:active:before {
  top: -12px;
  border-width: 6px;
}

*/

.scroll-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
  background-color: #999;
  opacity: 0.8;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  color: #fff;
  font-size: 1.5em;
}
.scroll-top:hover {
  cursor: pointer;
}

footer {
  float: left;
  margin-top: 30em;
  color: lightslategray;
}
